@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,600&display=swap');

.filme-info {
    background: rgb(249, 175, 175);
    background: radial-gradient(circle, rgba(249, 175, 175, 1) 0%, rgba(57, 0, 0, 1) 86%);
    color: #FFF;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 16px 16px;
}

.filme-info h1 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.filme-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 440px;
    object-fit: cover;
}

.filme-info h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 22px;
    margin-top: 14px;
}

.filme-info span {
    line-height: 22px;
    margin: 12px 0;
}

.filme-info strong {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 20px;
    color: #ECEC00;
}

.area-buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-buttons button:hover {
    background-color: #8B0000;
    color: #FFF;
}

.area-buttons a {
    text-decoration: none;
    color: #000;
}

.area-buttons a:hover {
    transition: all 0.5s;
    color: #FFF;
}

@media (max-width: 600px) {

    .filme-info h1 {
        font-size: 26px;
        margin: 10px;
    }

    .filme-info h3 {
        font-size: 18px;
        margin-top: 14px;
    }

}