@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,600&display=swap');

.lista-filmes {
    max-width: 800px;
    margin: 44px auto;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.lista-filmes article {
    width: 100%;
    background: rgb(249, 175, 175);
    background: radial-gradient(circle, rgba(249, 175, 175, 1) 0%, rgba(57, 0, 0, 1) 86%);
    color: #FFF;
    padding: 15px;
    margin-bottom: 22px;
    border-radius: 4px;
}

.lista-filmes strong {
    font-family: 'Archivo Narrow', sans-serif;
    margin-bottom: 14px;
    text-align: center;
    font-size: 36px;
    display: block;
}

.lista-filmes img {
    width: 900px;
    max-width: 100%;
    max-height: 440px;
    object-fit: cover;
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.lista-filmes a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    font-size: 22px;
    background-color: #2c2727fd;
    color: #FFF;
    text-decoration: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.lista-filmes a:hover {
    background-color: #FFF;
    color: #000000;
    transition: all 700ms;
}

@media (max-width: 600px) {

    .lista-filmes strong {
        font-size: 26px;
    }

    .lista-filmes a {
        font-size: 18px;
    }

}